.btn {
    display: inline-block;
    font-weight: normal;
    line-height: 1em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid solid transparent;
}
